In [1]:
import pandas as pd
import sqlite3

In [2]:
def run_query(q):
    with sqlite3.connect('chinook.db') as conn:
        return pd.read_sql(q,conn)

In [3]:
def run_command(my_comm):
    conn.isolation_level = None
    conn.execute(my_comm)

In [4]:
def show_tables():
    show_all = ''' 
    SELECT name, type 
    FROM sqlite_master 
    WHERE type IN ("table","view")
    '''
    return run_query(show_all)

In [5]:
show_tables()

              name   type
0            album  table
1           artist  table
2         customer  table
3         employee  table
4            genre  table
5          invoice  table
6     invoice_line  table
7       media_type  table
8         playlist  table
9   playlist_track  table
10           track  table

In [6]:
tracks_usa = '''
WITH tracks_usa AS (
        SELECT il.track_id,
              SUM(quantity) quantity 
        FROM invoice i
        INNER JOIN invoice_line il ON il.invoice_id = i.invoice_id
        GROUP BY track_id
        HAVING billing_country = "USA"),

    genre_name AS (
        SELECT t.track_id, g.name
        FROM track t
        INNER JOIN genre g ON g.genre_id = t.genre_id)
        
SELECT gn.name genre, 
       SUM(tu.quantity) quantity, 
       ROUND(CAST(SUM(tu.quantity) AS FLOAT)*100/1149, 3) percentage
FROM genre_name gn 
INNER JOIN tracks_usa tu ON tu.track_id = gn.track_id
GROUP BY genre

'''
run_query(tracks_usa)
genre_sales_usa = run_query(tracks_usa)

From the data above, we can see that Rock tracks are usually the most sold in USA. This constitutes over 50% of track sales. Metal as well as Alternative & Punk are also popular. 

Based on this information, the following artists' albums should be purchased for the store: 
- Red Tone (Punk) 
- Regal (Hip-Hop) 
- Meteor and the Girls (Pop)

In [7]:
total_sales_q = '''
WITH agent AS (SELECT first_name || " " || last_name employee, 
                      employee_id, hire_date
               FROM employee e
               WHERE title IS "Sales Support Agent"),
     sales AS (SELECT c.support_rep_id, SUM(i.total) total
               FROM customer c 
               INNER JOIN invoice i ON c.customer_id = i.customer_id
               GROUP BY support_rep_id)
SELECT employee, total, hire_date
FROM agent a
INNER JOIN sales s ON s.support_rep_id = a.employee_id      
'''

run_query(total_sales_q)

        employee    total            hire_date
0   Jane Peacock  1731.51  2017-04-01 00:00:00
1  Margaret Park  1584.00  2017-05-03 00:00:00
2  Steve Johnson  1393.92  2017-10-17 00:00:00

Jane Peacock has the highest dollar amount of sales in the company and she is also has the longest employment history among the Sales Support Agents. 

Although Steve Johnson sales are the least, he has considerably spent at least 5 months less than his colleagues in the role.

In [8]:
run_query('''
WITH amount AS (
        SELECT
          CASE
           WHEN (
                 SELECT count(*)
                 FROM customer
                 where country = c.country
                ) = 1 THEN "Other"
           ELSE c.country
        END AS country, c.customer_id, quantity, total 
        FROM invoice i
        INNER JOIN invoice_line il ON il.invoice_id = i.invoice_id
        INNER JOIN customer c ON c.customer_id = i.customer_id)
     
SELECT country,  
           SUM(total) total,
           CAST(COUNT(country) AS FLOAT) customers,
           SUM(quantity) quantity,
           total/quantity AS average_order,
           total/COUNT(country) average_sales_per_customer
FROM amount
GROUP BY country
''')

,country,total,customers,quantity,average_order,average_sales_per_customer
0,Brazil,4059.00,432.0,432,6.93,0.016042
1,Canada,5489.55,541.0,541,11.88,0.021959
2,Czech Republic,3183.84,276.0,276,0.99,0.003587
3,France,3972.87,393.0,393,5.94,0.015115
4,Germany,3441.24,338.0,338,7.92,0.023432
5,India,1887.93,185.0,185,4.95,0.026757
6,Other,10808.82,1106.0,1106,6.93,0.006266
7,Portugal,1755.27,187.0,187,3.96,0.021176
8,USA,10405.89,1051.0,1051,8.91,0.008478
9,United Kingdom,2498.76,248.0,248,12.87,0.051895

In [15]:
run_query('''
SELECT t.*,il.* 
FROM track t 
INNER JOIN invoice_line il ON il.track_id = t.track_id
ORDER BY invoice_id ASC
''')

,track_id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price,invoice_line_id,invoice_id,track_id,unit_price,quantity
0,1158,Right Next Door to Hell,91,2,1,None,182321,3175950,0.99,1,1,1158,0.99,1
1,1159,Dust N' Bones,91,2,1,None,298374,5053742,0.99,2,1,1159,0.99,1
2,1160,Live and Let Die,91,2,1,None,184016,3203390,0.99,3,1,1160,0.99,1
3,1161,Don't Cry (Original),91,2,1,None,284744,4833259,0.99,4,1,1161,0.99,1
4,1162,Perfect Crime,91,2,1,None,143637,2550030,0.99,5,1,1162,0.99,1
5,1163,You Ain't the First,91,2,1,None,156268,2754414,0.99,6,1,1163,0.99,1
6,1164,Bad Obsession,91,2,1,None,328282,5537678,0.99,7,1,1164,0.99,1
7,1165,Back off Bitch,91,2,1,None,303436,5135662,0.99,8,1,1165,0.99,1
8,1166,Double Talkin' Jive,91,2,1,None,203637,3520862,0.99,9,1,1166,0.99,1
9,1167,November Rain,91,2,1,None,537540,8923566,0.99,10,1,1167,0.99,1
10,1168,The Garden,91,2,1,None,322175,5438862,0.99,11,1,1168,0.99,1
11,1169,Garden of Eden,91,2,1,None,161539,2839694,0.99,12,1,1169,0.99,1
12,1170,Don't Damn Me,91,2,1,None,318901,5385886,0.99,13,1,1170,0.99,1
13,1171,Bad Apples,91,2,1,None,268351,4567966,0.99,14,1,1171,0.99,1
14,1172,Dead Horse,91,2,1,None,257600,4394014,0.99,15,1,1172,0.99,1
15,1173,Coma,91,2,1,None,616511,10201342,0.99,16,1,1173,0.99,1
16,3476,Help Yourself,322,2,9,"Freddy James, Jimmy hogarth & Larry Stock",300884,5029266,0.99,17,2,3476,0.99,1
17,482,Good Riddance (Time Of Your Life),39,1,4,Billie Joe Armstrong -Words Green Day -Music,153600,5075241,0.99,18,2,482,0.99,1
18,2701,Blinded By Rainbows,218,1,1,Jagger/Richards,273946,8971343,0.99,19,2,2701,0.99,1
19,1641,Gallows Pole,134,1,1,Traditional,296228,9757151,0.99,20,2,1641,0.99,1
20,1119,Toda Menina Baiana,73,1,7,Gilberto Gil,278177,9351000,0.99,21,2,1119,0.99,1
21,2324,Pretty Persuasion,190,1,4,R.E.M.,229929,7577754,0.99,22,2,2324,0.99,1
22,201,Keep It To Myself (Aka Keep It To Yourself),20,1,6,Sonny Boy Williamson [i],166060,5487056,0.99,23,2,201,0.99,1
23,819,Talk About Love,66,1,1,roger glover,247823,8072171,0.99,24,2,819,0.99,1
24,392,Tim Tim Por Tim Tim,34,1,7,Vários,213237,7143328,0.99,25,2,392,0.99,1
25,2651,Can't Stand Losing You,215,1,1,G M Sumner,181159,5971983,0.99,26,2,2651,0.99,1
26,2516,Black Hole Sun,203,1,1,Soundgarden,320365,10425229,0.99,27,3,2516,0.99,1
27,2646,I Looked At You,214,1,1,"Robby Krieger, Ray Manzarek, John Densmore, Ji...",142080,4663988,0.99,28,3,2646,0.99,1
28,3448,"Lamentations of Jeremiah, First Set \ Incipit ...",314,2,24,Thomas Tallis,69194,1208080,0.99,29,4,3448,0.99,1
29,2560,Violent Pornography,207,1,3,"Dolmayan, John/Malakian, Daron/Odadjian, Shavo",211435,6985960,0.99,30,4,2560,0.99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4727,2208,Dissident,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,215510,7034500,0.99,4728,612,2208,0.99,1
4728,2209,W.M.A.,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,359262,12037261,0.99,4729,612,2209,0.99,1
4729,2210,Blood,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,170631,5551478,0.99,4730,612,2210,0.99,1
4730,2211,Rearviewmirror,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,284186,9321053,0.99,4731,612,2211,0.99,1
4731,2212,Rats,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,255425,8341934,0.99,4732,612,2212,0.99,1
4732,2213,Elderly Woman Behind The Counter In A Small Town,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,196336,6499398,0.99,4733,612,2213,0.99,1
4733,2214,Leash,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,189257,6191560,0.99,4734,612,2214,0.99,1
4734,2215,Indifference,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,302053,9756133,0.99,4735,612,2215,0.99,1
4735,1865,Better Than You,153,1,3,"Hetfield, Ulrich",322899,10549070,0.99,4736,613,1865,0.99,1
4736,2647,End Of The Night,214,1,1,"Robby Krieger, Ray Manzarek, John Densmore, Ji...",172695,5589732,0.99,4737,613,2647,0.99,1
4737,3292,Still Loving You,257,2,1,None,390674,6491444,0.99,4738,613,3292,0.99,1
4738,2731,I Can't Explain,221,1,1,Pete Townshend,125152,4082896,0.99,4739,613,2731,0.99,1
4739,3465,You Know I'm No Good (feat. Ghostface Killah),321,2,14,None,202320,3260658,0.99,4740,613,3465,0.99,1
4740,2948,Grace,233,1,1,"Adam Clayton, Bono, Larry Mullen, The Edge",330657,10877148,0.99,4741,613,2948,0.99,1
4741,2738,Pictures Of Lily,221,1,1,Pete Townshend,164414,5329751,0.99,4742,613,2738,0.99,1
4742,1126,Re-Align,88,1,3,Sully Erna,260884,8513891,0.99,4743,613,1126,0.99,1
4743,1915,I Don't Wanna Be Kissed (By Anyone But You) (A...,157,1,2,"H. Spina, J. Elliott",192078,6254796,0.99,4744,613,1915,0.99,1
4744,2650,Roxanne,215,1,1,G M Sumner,192992,6330159,0.99,4745,614,2650,0.99,1
4745,2651,Can't Stand Losing You,215,1,1,G M Sumner,181159,5971983,0.99,4746,614,2651,0.99,1
4746,2652,Message in a Bottle,215,1,1,G M Sumner,291474,9647829,0.99,4747,614,2652,0.99,1
4747,2654,Don't Stand so Close to Me,215,1,1,G M Sumner,241031,7956658,0.99,4748,614,2654,0.99,1
4748,2655,"De Do Do Do, De Da Da Da",215,1,1,G M Sumner,247196,8227075,0.99,4749,614,2655,0.99,1
4749,2656,Every Little Thing She Does is Magic,215,1,1,G M Sumner,261120,8646853,0.99,4750,614,2656,0.99,1
4750,2657,Invisible Sun,215,1,1,G M Sumner,225593,7304320,0.99,4751,614,2657,0.99,1
4751,2658,Spirit's in the Material World,215,1,1,G M Sumner,181133,5986622,0.99,4752,614,2658,0.99,1
4752,2659,Every Breath You Take,215,1,1,G M Sumner,254615,8364520,0.99,4753,614,2659,0.99,1
4753,2660,King Of Pain,215,1,1,G M Sumner,300512,9880303,0.99,4754,614,2660,0.99,1
4754,2661,Wrapped Around Your Finger,215,1,1,G M Sumner,315454,10361490,0.99,4755,614,2661,0.99,1
4755,2662,Don't Stand So Close to Me '86,215,1,1,G M Sumner,293590,9636683,0.99,4756,614,2662,0.99,1
4756,2663,Message in a Bottle (new classic rock mix),215,1,1,G M Sumner,290951,9640349,0.99,4757,614,2663,0.99,1

In [18]:
run_query('''
SELECT a.*,t.* 
FROM track t 
INNER JOIN album a ON a.album_id = t.album_id
ORDER BY album_id ASC
LIMIT 30
''')

,album_id,title,artist_id,track_id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price
0,1,For Those About To Rock We Salute You,1,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,1,For Those About To Rock We Salute You,1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
2,1,For Those About To Rock We Salute You,1,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
3,1,For Those About To Rock We Salute You,1,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
4,1,For Those About To Rock We Salute You,1,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
5,1,For Those About To Rock We Salute You,1,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
6,1,For Those About To Rock We Salute You,1,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
7,1,For Those About To Rock We Salute You,1,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
8,1,For Those About To Rock We Salute You,1,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
9,1,For Those About To Rock We Salute You,1,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99
10,2,Balls to the Wall,2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
11,3,Restless and Wild,2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
12,3,Restless and Wild,2,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
13,3,Restless and Wild,2,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
14,4,Let There Be Rock,1,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99
15,4,Let There Be Rock,1,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99
16,4,Let There Be Rock,1,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99
17,4,Let There Be Rock,1,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99
18,4,Let There Be Rock,1,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99
19,4,Let There Be Rock,1,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99
20,4,Let There Be Rock,1,21,Hell Ain't A Bad Place To Be,4,1,1,AC/DC,254380,8331286,0.99
21,4,Let There Be Rock,1,22,Whole Lotta Rosie,4,1,1,AC/DC,323761,10547154,0.99
22,5,Big Ones,3,23,Walk On Water,5,1,1,"Steven Tyler, Joe Perry, Jack Blades, Tommy Shaw",295680,9719579,0.99
23,5,Big Ones,3,24,Love In An Elevator,5,1,1,"Steven Tyler, Joe Perry",321828,10552051,0.99
24,5,Big Ones,3,25,Rag Doll,5,1,1,"Steven Tyler, Joe Perry, Jim Vallance, Holly K...",264698,8675345,0.99
25,5,Big Ones,3,26,What It Takes,5,1,1,"Steven Tyler, Joe Perry, Desmond Child",310622,10144730,0.99
26,5,Big Ones,3,27,Dude (Looks Like A Lady),5,1,1,"Steven Tyler, Joe Perry, Desmond Child",264855,8679940,0.99
27,5,Big Ones,3,28,Janie's Got A Gun,5,1,1,"Steven Tyler, Tom Hamilton",330736,10869391,0.99
28,5,Big Ones,3,29,Cryin',5,1,1,"Steven Tyler, Joe Perry, Taylor Rhodes",309263,10056995,0.99
29,5,Big Ones,3,30,Amazing,5,1,1,"Steven Tyler, Richie Supa",356519,11616195,0.99